<div class="search">
    <header class="search__header">
        <h1 class="search__header-title">{{ "search.title" | translate }}</h1>

        <app-territories-list *ngIf="!datasetDto"></app-territories-list>
    </header>

    <div class="search__body">
        <div class="search__results" *ngIf="datasetDto">
            <span>Resultados: {{ datasetDto.total }}</span>
            <app-dataset-card
                class="search__results--item"
                *ngFor="let dataset of datasetDto.dataset"
                [dataset]="dataset"
            ></app-dataset-card>
            <p-paginator
                [rows]="limit"
                [first]="offset"
                [totalRecords]="datasetDto.total"
                [rowsPerPageOptions]="ROWS_PER_PAGE"
                (onPageChange)="paginate($event)"
            ></p-paginator>
        </div>
    </div>
</div>
