@import "styles/vendor";
@import "styles/title-bar"; // ARTE Title Bar
@import "styles/index"; // App index.html file styling

body {
    font-family: var(--font-family), serif;
}

// see https://css-irl.info/animating-underlines/
.underline-link {
    color: var(--text-color);
    text-decoration: none;
    background: linear-gradient(to right, white, white), linear-gradient(to right, var(--text-color), var(--text-color));
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;

    &:hover,
    &:focus {
        background-size: 0 0.1em, 100% 0.1em;
    }
}
