@media (min-width: 600px) {
    main {
        margin: 0 5em;
    }
}

@media (min-width: 1200px) {
    main {
        margin: 0 15em;
    }
}

@media (min-width: 1700px) {
    main {
        margin: 0 20em;
    }
}
