.territories-columns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2em;
}

.zones {
    min-width: 12em;
    max-width: 14em;
}

.territories {
    display: flex;
    flex-direction: column;

    a {
        width: fit-content;
    }
}
