.territories-columns {
    display: flex;
    flex-wrap: wrap;
    column-gap: 4em;
    row-gap: 2em;
}

.groups {
    min-width: 12em;
    max-width: 14em;
}

.territories {
    display: flex;
    flex-direction: column;

    a {
        width: fit-content;
    }
}
